:host {
  display: block;
  min-height: calc(100vh - 80px);
}

.signin {
  width: 100%;
  min-height: calc(100vh - 80px);
  background-color: rgb(121, 236, 188);
  text-align: center;
}

.pane {
  width: 300px;
  display: inline-block;
  background-color: rgb(241, 241, 241);
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 30px;
  border-radius: 10px;
}

.subtitle {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 60px;
}

.error-message {
  color: var(--mat-form-field-outlined-error-label-text-color);
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
}

.signin-button {
  font-size: 16px;
  font-weight: bold;
  transition: opacity 0.3s ease-in-out;
}

.signin-button.busy {
  cursor: wait;
  pointer-events: none;
}