<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened="true" class="sidebar">
        <div class="sidebar-content">
            <button mat-mini-fab type="button" (click)="sidenav.toggle()" class="menu-toggle-button">
                <mat-icon>menu</mat-icon>
            </button>
            <h3>
            {{ currentAffiliation()?.displayName || 'ユーザー名未設定' }}
            @if (isAdmin()) {
                <span class="admin-badge">管理者</span>
            } @else {
                <span class="member-badge">一般</span>
            }
            </h3>

            <button 
                mat-flat-button 
                class="menu-button" 
                type="button" 
                (click)="navigateToMainPage()" 
                [class.selected]="isSelected() === 'myPage'"
            >マイページ</button>
            <button 
                mat-flat-button 
                class="menu-button" 
                type="button" 
                (click)="navigateToPersonalSetting()" 
                [class.selected]="isSelected() === 'personalSetting'">
                <span>個人設定</span>
                @if (completion().personal || completion().employee) {
                    <span class="required-badge"></span>
                }
            </button>
            <button 
                mat-flat-button 
                class="menu-button" 
                type="button" 
                (click)="navigateToTaskBoard()" 
                [class.selected]="isSelected() === 'taskBoard'"
            >手続き一覧</button>

            @if (isAdmin()) {
            <hr class="menu-divider" />
            <button 
                mat-flat-button 
                class="menu-button" 
                type="button" 
                (click)="navigateToSettingTenant()" 
                [class.selected]="isSelected() === 'tenantSetting'">
                <span>事業所設定</span>
                @if (completion().tenant || completion().socialInsuranceSettings) {
                    <span class="required-badge"></span>
                }
            </button>
            <button 
                mat-flat-button 
                class="menu-button" 
                type="button" 
                (click)="navigateToEmployeesManagement()" 
                [class.selected]="isSelected() === 'employeesManagement'"
            >従業員管理</button>
            <button 
                mat-flat-button 
                class="menu-button" 
                type="button" 
                (click)="navigateToInvitationsManagement()" 
                [class.selected]="isSelected() === 'invitationsManagement'"
            >招待管理</button>
            <button
                mat-flat-button
                class="menu-button"
                type="button"
                (click)="navigateToMonthlyManagement()"
                [class.selected]="isSelected() === 'monthlyManagement'"
            >月次管理</button>
            }
        </div>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
        @if (!sidenav.opened) {
            <button mat-mini-fab type="button" (click)="sidenav.toggle()" class="menu-toggle-button">
                <mat-icon>menu</mat-icon>
            </button>
        }

        <div class="page-body">
            <router-outlet />
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>