@if (loading) {
    <div class="loading-container">
        <mat-spinner diameter="40"></mat-spinner>
    </div>
} @else {
    <div class="setting-page">
        <mat-tab-group 
            (selectedIndexChange)="state = $event === 0 ? 'personal' : 'employee'"
            class="setting-tabs" 
            animationDuration="0ms"
        >
            <mat-tab>
                <ng-template matTabLabel>
                    <span>基本設定</span>
                    @if (hasPersonalMissingFields) {
                        <span class="required-badge"></span>
                    }
                </ng-template>
                <div class="input-container">
                    <div class="field-container">
                        <label class="label-name">
                            本名：
                            @if (isPersonalRealNameMissing) {
                                <span class="required-badge"></span>
                            }
                        </label>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>姓(last name)</mat-label>
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）山田" 
                                [(ngModel)]="personalForm.realName.lastName"
                                #lastNameRef="ngModel"
                                name="lastName"
                                pattern="^[a-zA-Zぁ-んァ-ン一-龥\s]+$"
                            />
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>名(first name)</mat-label>
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）太郎" 
                                [(ngModel)]="personalForm.realName.firstName"
                                #firstNameRef="ngModel"
                                name="firstName"
                                pattern="^[a-zA-Zぁ-んァ-ン一-龥\s]+$"
                            />
                        </mat-form-field>
                    </div>
                    <div class="field-container">
                        <label class="label-name">
                            本名(フリガナ)：
                            @if (isPersonalRealNameKanaMissing) {
                                <span class="required-badge"></span>
                            }
                        </label>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>姓(last name)</mat-label>
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）ヤマダ" 
                                [(ngModel)]="personalForm.realName.lastNameKana"
                                #lastNameKanaRef="ngModel"
                                name="lastNameKana"
                                pattern="^[ァ-ヶー\s]+$"
                            />
                            @if(lastNameKanaRef.invalid && (lastNameKanaRef.touched || lastNameKanaRef.dirty)){
                                @if(lastNameKanaRef.errors?.['pattern']){
                                    <p class="error-message">姓(last name)は全角カタカナで入力してください</p>
                                }
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>名(first name)</mat-label>
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）タロウ" 
                                [(ngModel)]="personalForm.realName.firstNameKana"
                                #firstNameKanaRef="ngModel"
                                name="firstNameKana"
                                pattern="^[ァ-ヶー\s]+$"
                            />
                            @if(firstNameKanaRef.invalid && (firstNameKanaRef.touched || firstNameKanaRef.dirty)){
                                @if(firstNameKanaRef.errors?.['pattern']){
                                    <p class="error-message">名(first name)は全角カタカナで入力してください</p>
                                }
                            }
                        </mat-form-field>
                    </div>
                    <div class="field-container">
                        <label class="label-name">
                            郵便番号：
                            @if (isPersonalZipcodeMissing) {
                                <span class="required-badge"></span>
                            }
                        </label>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>郵便番号</mat-label>
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）100-0001" 
                                #personalZipcodeRef="ngModel"
                                [(ngModel)]="personalDisplayZipcode"
                                maxlength="8"
                                name="zipcode"
                                pattern="^\d{3}-\d{4}$"
                            />
                            @if(personalZipcodeRef.invalid && (personalZipcodeRef.touched || personalZipcodeRef.dirty)){
                                @if(personalZipcodeRef.errors?.['pattern']){
                                    <p class="error-message">郵便番号を正しく入力してください</p>
                                }
                            }
                        </mat-form-field>
                        <button matButton="outlined" class="autofill-button" (click)="getPersonalAddress(personalForm.zipcode)">
                            <span>住所自動入力</span>
                        </button>
                    </div>
                    <div class="field-container">
                        <label class="label-name">
                            住所：
                            @if (isPersonalAddressMissing) {
                                <span class="required-badge"></span>
                            }
                        </label>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）東京都千代田区千代田" 
                                #personalAddress1Ref="ngModel"
                                [(ngModel)]="personalForm.address.address1"
                                name="address1"
                            />
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）1-1-1" 
                                #personalAddress2Ref="ngModel"
                                [(ngModel)]="personalForm.address.address2"
                                name="address2"
                            />
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）縄文ハイツ101号室" 
                                [(ngModel)]="personalForm.address.address3"
                                name="address3"
                            />
                        </mat-form-field>
                    </div>
                    <div class="field-container">
                        <label class="label-name">
                            電話番号：
                            @if (isPersonalPhoneNumberMissing) {
                                <span class="required-badge"></span>
                            }
                        </label>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>電話番号</mat-label>
                            <input 
                                matInput 
                                type="tel" 
                                placeholder="（例）03-1234-5678" 
                                [(ngModel)]="personalForm.phoneNumberRaw"
                                #personalPhoneNumberRef="ngModel"
                                name="phoneNumber"
                                pattern="^(?:\d{2,5}-\d{1,4}-\d{4}|\d{3}-\d{4}-\d{4})$"
                            />
                            @if(personalPhoneNumberRef.invalid && (personalPhoneNumberRef.touched || personalPhoneNumberRef.dirty)){
                                @if(personalPhoneNumberRef.errors?.['pattern']){
                                    <p class="error-message">電話番号を正しく入力してください</p>
                                }
                            }
                        </mat-form-field>
                        <div class="comment-text">※ハイフン(-)を含めて入力してください。</div>
                    </div>
                    <div class="field-container">
                        <label class="label-name">
                            生年月日：
                            @if (isPersonalBirthDateMissing) {
                                <span class="required-badge"></span>
                            }
                        </label>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>生年月日</mat-label>
                            <input
                                matInput
                                type="date"
                                [(ngModel)]="personalForm.birthDate"
                                #birthDateRef="ngModel"
                                name="birthDate"
                            />
                        </mat-form-field>
                    </div>
                    <div class="field-container">
                        <label class="label-name">
                            マイナンバー：
                            @if (isPersonalMyNumberMissing) {
                                <span class="required-badge"></span>
                            }
                        </label>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>マイナンバー</mat-label>
                            <input
                                matInput
                                type="text"
                                inputmode="numeric"
                                placeholder="（例）123456789012"
                                [(ngModel)]="personalForm.myNumber"
                                #myNumberRef="ngModel"
                                name="myNumber"
                                maxlength="12"
                                pattern="^\d{12}$"
                            />
                            @if(myNumberRef.invalid && (myNumberRef.touched || myNumberRef.dirty)){
                                @if(myNumberRef.errors?.['pattern']){
                                    <p class="error-message">マイナンバーは12桁の数字で入力してください</p>
                                }
                            }
                        </mat-form-field>
                        <div class="comment-text">※半角数字12桁で入力してください。</div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template matTabLabel>
                    <span>事業所別設定</span>
                    @if (hasEmployeeMissingFields) {
                        <span class="required-badge"></span>
                    }
                </ng-template>
                <div class="input-container">
                    <div class="field-container">
                        <div class="grid-full-width reflect-basic-setting">
                            <button
                                matButton="outlined"
                                type="button"
                                (click)="applyBasicToEmployeeSettings()"
                            >
                                基本設定を反映
                            </button>
                        </div>
                    </div>
                    <div class="field-container">
                        <label class="label-name">
                            表示名：
                            @if (isEmployeeDisplayNameMissing) {
                                <span class="required-badge"></span>
                            }
                        </label>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>表示名</mat-label>
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）山田太郎" 
                                [(ngModel)]="employeeForm.displayName"
                                #displayNameRef="ngModel"
                                name="displayName"
                                pattern="^[a-zA-Zぁ-んァ-ン一-龥\s]+$"
                            />
                        </mat-form-field>
                    </div>
                    <div class="field-container">
                        <label class="label-name">
                            郵便番号：
                            @if (isEmployeeZipcodeMissing) {
                                <span class="required-badge"></span>
                            }
                        </label>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>郵便番号</mat-label>
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）100-0001" 
                                #employeeZipcodeRef="ngModel"
                                [(ngModel)]="employeeDisplayZipcode"
                                maxlength="8"
                                name="employeeZipcode"
                                pattern="^\d{3}-\d{4}$"
                            />
                            @if(employeeZipcodeRef.invalid && (employeeZipcodeRef.touched || employeeZipcodeRef.dirty)){
                                @if(employeeZipcodeRef.errors?.['pattern']){
                                    <p class="error-message">郵便番号を正しく入力してください</p>
                                }
                            }
                        </mat-form-field>
                        <button matButton="outlined" class="autofill-button" (click)="getEmployeeAddress(employeeForm.zipcode)">
                            <span>住所自動入力</span>
                        </button>
                    </div>
                    <div class="field-container">
                        <label class="label-name">
                            住所：
                            @if (isEmployeeAddressMissing) {
                                <span class="required-badge"></span>
                            }
                        </label>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）東京都千代田区千代田" 
                                #employeeAddress1Ref="ngModel"
                                [(ngModel)]="employeeForm.address.address1"
                                name="employeeAddress1"
                            />
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）1-1-1" 
                                #employeeAddress2Ref="ngModel"
                                [(ngModel)]="employeeForm.address.address2"
                                name="employeeAddress2"
                            />
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）縄文ハイツ101号室" 
                                [(ngModel)]="employeeForm.address.address3"
                                name="employeeAddress3"
                            />
                        </mat-form-field>
                    </div>
                    <div class="field-container">
                        <label class="label-name">
                            電話番号：
                            @if (isEmployeePhoneNumberMissing) {
                                <span class="required-badge"></span>
                            }
                        </label>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>電話番号</mat-label>
                            <input 
                                matInput 
                                type="tel" 
                                placeholder="（例）03-1234-5678" 
                                [(ngModel)]="employeeForm.phoneNumberRaw"
                                #employeePhoneNumberRef="ngModel"
                                name="employeePhoneNumber"
                                pattern="^(?:\d{2,5}-\d{1,4}-\d{4}|\d{3}-\d{4}-\d{4})$"
                            />
                            @if(employeePhoneNumberRef.invalid && (employeePhoneNumberRef.touched || employeePhoneNumberRef.dirty)){
                                @if(employeePhoneNumberRef.errors?.['pattern']){
                                    <p class="error-message">電話番号を正しく入力してください</p>
                                }
                            }
                        </mat-form-field>
                        <div class="comment-text">※ハイフン(-)を含めて入力してください。</div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
        <div class="actions">
            <div class="comment-text">
                入力を変更したら「保存」ボタンを押してください。
            </div>
            @if (loading) {
            <mat-spinner diameter="32"></mat-spinner>
            } @else {
            <button
                mat-flat-button
                type="button"
                class="save-button"
                [class.busy]="submitBusy"
                [disabled]="submitBusy"
                (click)="save(state)"
            >
                @if (submitBusy) {
                <mat-spinner diameter="20"></mat-spinner>
                } @else {
                保存
                }
            </button>
            }
        </div>
    </div>
}