<nav mat-tab-nav-bar [tabPanel]="tabPanel" animationDuration="0ms" class="setting-tabs">
    <a
        mat-tab-link
        [routerLink]="['/personal-setting']"
        [active]="!isEmployeeActive"
    >
        <span>基本設定</span>
        @if (dataService.hasPersonalMissingFields) {
            <span class="required-badge"></span>
        }
    </a>
    <a
        mat-tab-link
        [routerLink]="['/personal-setting', 'employee']"
        [active]="isEmployeeActive"
    >
        <span>事業所別設定</span>
        @if (dataService.hasEmployeeMissingFields) {
            <span class="required-badge"></span>
        }
    </a>
</nav>
<mat-tab-nav-panel #tabPanel>
    <div class="personal-setting">
        <div class="personal-setting-panel">
            @if (dataService.loading) {
                <div class="loading-container">
                    <mat-spinner diameter="40"></mat-spinner>
                </div>
            } @else {
                <div class="setting-page">
                    <router-outlet></router-outlet>
                </div>
            }
        </div>
    </div>
</mat-tab-nav-panel>
