:host {
    display: block;
}

.app-shell-toolbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(54, 199, 139);
    min-height: 80px;
}

.jomon-logo-button {
    background-color: transparent;
    border: none;
    min-width: 0;
    padding: 0;
    line-height: normal;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
}

.material-symbols-outlined {
    font-size: 48px;
    font-weight: 800;
    vertical-align: bottom;
}

.jomon-logo-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.button-container {
    display: flex;
    gap: 18px;
    font-size: 16px;
    align-items: center;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-text {
    font-size: 12px;
    color: black;
    margin: 0;
}

.signup-button {
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: rgb(255, 156, 76)!important;
    transition: opacity 0.3s ease-in-out;
}

.signup-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.signin-button {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.signin-button:hover {
    opacity: 0.8;
    cursor: pointer;
}