@if (!loading) {
    <div class="setting-page">
        <mat-tab-group class="setting-tabs" animationDuration="0ms">
            <mat-tab label="基本設定">
                <div class="input-container">
                    <div class="field-container">
                        <label class="label-name">事業所名：</label>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>事業所名</mat-label>
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）株式会社　縄文商事" 
                                [(ngModel)]="form.tenantName"
                                #tenantNameRef="ngModel"
                                name="tenantName"
                                required
                            />
                            @if(tenantNameRef.invalid && (tenantNameRef.touched || tenantNameRef.dirty)){
                                @if(tenantNameRef.errors?.['required']){
                                    <p class="error-message">事業所名は必須です</p>
                                }
                            }
                        </mat-form-field>
                    </div>
                    <div class="field-container">
                        <label class="label-name">事業所名(フリガナ)：</label>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>事業所名(フリガナ)</mat-label>
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）株式会社　縄文商事" 
                                [(ngModel)]="form.tenantNameKana"
                                #tenantNameKanaRef="ngModel"
                                name="tenantNameKana"
                                required
                                pattern="^[ァ-ヶー\s]+$"
                            />
                            @if(tenantNameKanaRef.invalid && (tenantNameKanaRef.touched || tenantNameKanaRef.dirty)){
                                @if(tenantNameKanaRef.errors?.['required']){
                                    <p class="error-message">事業所名(フリガナ)は必須です</p>
                                }
                                @if(tenantNameKanaRef.errors?.['pattern']){
                                    <p class="error-message">事業所名(フリガナ)を正しく入力してください</p>
                                }
                            }
                        </mat-form-field>
                    </div>
                    <div class="field-container">
                        <label class="label-name">郵便番号：</label>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>郵便番号</mat-label>
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）100-0001" 
                                #zipcodeRef="ngModel"
                                [(ngModel)]="displayZipcode"
                                maxlength="8"
                                name="zipcode"
                                required
                            />
                            @if(zipcodeRef.invalid && (zipcodeRef.touched || zipcodeRef.dirty)){
                                @if(zipcodeRef.errors?.['required']){
                                    <p class="error-message">郵便番号は必須です</p>
                                }
                            }
                        </mat-form-field>
                        <button matButton="outlined" class="autofill-button" (click)="getAddress(displayZipcode)">
                            <span>住所自動入力</span>
                        </button>
                    </div>
                    <div class="field-container">
                        <label class="label-name">住所：</label>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）東京都千代田区千代田" 
                                #address1Ref="ngModel"
                                [(ngModel)]="form.address.address1"
                                name="address1"
                                required
                            />
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）1-1-1" 
                                #address2Ref="ngModel"
                                [(ngModel)]="form.address.address2"
                                name="address2"
                                required
                            />
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）縄文ハイツ101号室" 
                                [(ngModel)]="form.address.address3"
                                name="address3"
                            />
                        </mat-form-field>
                    </div>
                    <div class="field-container">
                        <label class="label-name">事業主(氏名)：</label>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>姓(last name)</mat-label>
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）山田" 
                                [(ngModel)]="form.ownerName.ownerLastName"
                                #ownerLastNameRef="ngModel"
                                name="ownerLastName" 
                                required
                                pattern="^[a-zA-Zぁ-んァ-ン一-龥\sー]+$"
                            />
                            @if(ownerLastNameRef.invalid && (ownerLastNameRef.touched || ownerLastNameRef.dirty)){
                                @if(ownerLastNameRef.errors?.['required']){
                                    <p class="error-message">姓(last name)は必須です</p>
                                }
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>名(first name)</mat-label>
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）太郎" 
                                [(ngModel)]="form.ownerName.ownerFirstName"
                                #ownerFirstNameRef="ngModel"
                                name="ownerFirstName" 
                                required
                                pattern="^[a-zA-Zぁ-んァ-ン一-龥\sー]+$"
                            />
                            @if(ownerFirstNameRef.invalid && (ownerFirstNameRef.touched || ownerFirstNameRef.dirty)){
                                @if(ownerFirstNameRef.errors?.['required']){
                                    <p class="error-message">名(first name)は必須です</p>
                                }
                            }
                        </mat-form-field>
                    </div><div class="field-container">
                        <label class="label-name">事業主(フリガナ)：</label>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>姓(last name)</mat-label>
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）ヤマダ" 
                                [(ngModel)]="form.ownerName.ownerLastNameKana"
                                #ownerLastNameKanaRef="ngModel"
                                name="ownerLastNameKana" 
                                required
                                pattern="^[ァ-ヶー\s]+$"
                            />
                            @if(ownerLastNameKanaRef.invalid && (ownerLastNameKanaRef.touched || ownerLastNameKanaRef.dirty)){
                                @if(ownerLastNameKanaRef.errors?.['required']){
                                    <p class="error-message">姓(last name)フリガナは必須です</p>
                                }
                                @if(ownerLastNameKanaRef.errors?.['pattern']){
                                    <p class="error-message">姓(last name)フリガナを正しく入力してください</p>
                                }
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>名(first name)</mat-label>
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）タロウ" 
                                [(ngModel)]="form.ownerName.ownerFirstNameKana"
                                #ownerFirstNameKanaRef="ngModel"
                                name="ownerFirstNameKana" 
                                required
                                pattern="^[ァ-ヶー\s]+$"
                            />
                            @if(ownerFirstNameKanaRef.invalid && (ownerFirstNameKanaRef.touched || ownerFirstNameKanaRef.dirty)){
                                @if(ownerFirstNameKanaRef.errors?.['required']){
                                    <p class="error-message">名(first name)フリガナは必須です</p>
                                }
                            }
                            @if(ownerFirstNameKanaRef.errors?.['pattern']){
                                <p class="error-message">名(first name)フリガナを正しく入力してください</p>
                            }
                        </mat-form-field>
                    </div>
                    <div class="field-container">
                        <label class="label-name">電話番号：</label>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>電話番号</mat-label>
                            <input 
                                matInput 
                                type="tel" 
                                placeholder="（例）03-1234-5678" 
                                [(ngModel)]="form.phoneNumberRaw"
                                #phoneNumberRef="ngModel"
                                name="phoneNumberRaw"
                                required
                                pattern="^(?:\d{2,5}-\d{1,4}-\d{4}|\d{3}-\d{4}-\d{4})$"
                            />
                            @if(phoneNumberRef.invalid && (phoneNumberRef.touched || phoneNumberRef.dirty)){
                                @if(phoneNumberRef.errors?.['required']){
                                    <p class="error-message">電話番号は必須です</p>
                                }
                                @if(phoneNumberRef.errors?.['pattern']){
                                    <p class="error-message">電話番号を正しく入力してください</p>
                                }
                            }
                        </mat-form-field>
                        <div class="comment-text">※ハイフン(-)を含めて入力してください</div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template matTabLabel>
                    <span>社会保険設定</span>
                    @if (hasSocialInsuranceSettingsMissingFields) {
                        <span class="required-badge"></span>
                    }
                </ng-template>
                <div class="input-container">
                    <div class="field-container">
                        <label class="label-name">
                            法人番号：
                            @if (isCorporateNumberMissing) {
                                <span class="required-badge"></span>
                            }
                        </label>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>
                                法人番号
                            </mat-label>
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）1234567890123" 
                                [(ngModel)]="form.socialInsuranceSettings.corporateNumber"
                                #corporateNumberRef="ngModel"
                                name="corporateNumber"
                                pattern="^\d{13}$"
                            />
                            @if(corporateNumberRef.invalid && (corporateNumberRef.touched || corporateNumberRef.dirty)){
                                @if(corporateNumberRef.errors?.['required']){
                                    <p class="error-message">法人番号は必須です</p>
                                }
                                @if(corporateNumberRef.errors?.['pattern']){
                                    <p class="error-message">法人番号を正しく入力してください</p>
                                }
                            }
                        </mat-form-field>
                    </div>
                    <div class="field-container">
                        <label class="label-name">健康保険タイプ：</label>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>健康保険タイプ</mat-label>
                            <mat-select [(ngModel)]="form.socialInsuranceSettings.healthInsuranceType">
                                <mat-option value="association">協会けんぽ</mat-option>
                                <mat-option value="combination">組合健康保険</mat-option>
                            </mat-select>
                        </mat-form-field>
                        @if(form.socialInsuranceSettings.healthInsuranceType === 'combination'){
                            <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                                <mat-label>組合名</mat-label>
                                <input 
                                    matInput 
                                    type="text"
                                    placeholder="（例）縄文健康保険組合" 
                                    [(ngModel)]="form.socialInsuranceSettings.combinationName" 
                                    #combinationNameRef="ngModel" 
                                    name="combinationName" 
                                />
                            </mat-form-field>
                        }
                    </div>
                    <div class="field-container">
                        <label class="label-name">
                            （健康保険）事業所整理記号：
                            @if (isHealthInsuranceTenantRecordNumberMissing) {
                                <span class="required-badge"></span>
                            }
                        </label>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>事業所整理記号</mat-label>
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）12345678" 
                                [(ngModel)]="form.socialInsuranceSettings.healthInsuranceTenantRecordNumber"
                                #healthInsuranceTenantRecordNumberRef="ngModel"
                                name="healthInsuranceTenantRecordNumber" 
                            />
                        </mat-form-field>
                        <app-help-content key="hiTenantRecNum"></app-help-content>
                    </div>
                    <div class="field-container">
                        <label class="label-name">
                            （厚生年金）事業所番号：
                            @if (isPensionInsuranceTenantNumberMissing) {
                                <span class="required-badge"></span>
                            }
                        </label>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>事業所番号</mat-label>
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）12345" 
                                [(ngModel)]="form.socialInsuranceSettings.pensionInsuranceTenantNumber"
                                #pensionInsuranceTenantNumberRef="ngModel"
                                name="pensionInsuranceTenantNumber" 
                            />
                        </mat-form-field>
                        <app-help-content key="piTenantNum"></app-help-content>
                    </div>
                    <div class="field-container">
                        <label class="label-name">
                            （厚生年金）事業所整理記号：
                            @if (isPensionInsuranceTenantRecordNumberMissing) {
                                <span class="required-badge"></span>
                            }
                        </label>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>事業所整理記号</mat-label>
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）01-イロハ" 
                                [(ngModel)]="form.socialInsuranceSettings.pensionInsuranceTenantRecordNumber"
                                #pensionInsuranceTenantRecordNumberRef="ngModel"
                                name="pensionInsuranceTenantRecordNumber" 
                            />
                        </mat-form-field>
                        <app-help-content key="piTenantRecNum"></app-help-content>
                    </div>

                    <hr class="separator grid-full-width">
                    
                    <div class="field-container">
                        <label class="label-name">
                            給与締め日：
                            @if (isClosingDayMissing) {
                                <span class="required-badge"></span>
                            }
                        </label>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>給与締め日</mat-label>
                            <input 
                                matInput 
                                type="text" 
                                placeholder="（例）25日" 
                                [(ngModel)]="form.socialInsuranceSettings.closingDay"
                                #closingDayRef="ngModel"
                                name="closingDay" 
                                pattern="^(末日|[0-9]{1,2}日)$"
                            />
                            @if(closingDayRef.invalid && (closingDayRef.touched || closingDayRef.dirty)){
                                @if(closingDayRef.errors?.['required']){
                                    <p class="error-message">給与締め日は必須です</p>
                                }
                                @if(closingDayRef.errors?.['pattern']){
                                    <p class="error-message">「日」を含めて入力してください</p>
                                }
                            }
                        </mat-form-field>
                        <div class="comment-text">※月末締めの場合は「末日」と入力してください</div>
                    </div>
                    <div class="field-container">
                        <label class="label-name">支払基礎日数基準：</label>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>支払基礎日数基準</mat-label>
                            <mat-select [(ngModel)]="form.socialInsuranceSettings.payrollBaseDaysStandard">
                                <mat-option value="closingDay">締め日基準</mat-option>
                                <mat-option value="calendarDay">暦日基準</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <app-help-content key="payrollBaseDaysStandard"></app-help-content>
                    </div>

                    <hr class="separator grid-full-width">

                    <div class="field-container">
                        <label class="label-name">社会保険料徴収月：</label>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>社会保険料徴収月</mat-label>
                            <mat-select [(ngModel)]="form.socialInsuranceSettings.socialInsuranceCollectionMonth">
                                <mat-option value="nextMonth">翌月</mat-option>
                                <mat-option value="currentMonth">当月</mat-option>
                                <mat-option value="nextNextMonth">翌々月</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="field-container">
                        <label class="label-name">特定被保険者徴収区分：</label>
                        <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
                            <mat-label>特定被保険者徴収区分</mat-label>
                            <mat-select [(ngModel)]="form.socialInsuranceSettings.specificInsuranceCollectionType">
                                <mat-option value="false">徴収しない</mat-option>
                                <mat-option value="true">徴収する</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <app-help-content key="spInsCollType"></app-help-content>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
        <div class="actions">
            @if (loading) {
            <mat-spinner diameter="32"></mat-spinner>
            } @else {
            <button
                mat-raised-button
                color="primary"
                type="button"
                class="save-button"
                [class.busy]="submitBusy"
                [disabled]="submitBusy"
                (click)="save()"
            >
                @if (submitBusy) {
                <mat-spinner diameter="20"></mat-spinner>
                } @else {
                保存
                }
            </button>
            }
        </div>
    </div>
}