:host {
  display: block;
  min-height: calc(100vh - 80px);
}

.create-establishment {
  width: 100%;
  min-height: calc(100vh - 80px);
  background-color: rgb(121, 236, 188);
  text-align: center;
  padding-top: 80px;
}

.pane {
  width: 80%;
  display: inline-block;
  background-color: rgb(241, 241, 241);
  padding: 30px;
  border-radius: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.subtitle {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.field-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.label-name {
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.autofill-button {
  height: 28px;
  margin-left: 10px;
}

.field{
  width: 240px;
}

.error-message {
  color: #b91624;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 60px;
}

.create-establishment-button {
  font-size: 16px;
  font-weight: bold;
  transition: opacity 0.3s ease-in-out;
}