:host {
  display: block;
}

.notification-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.notification-item {
  background-color: #f5f5f5;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
}

.delete-button {
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
  color: #c70000;
}

.delete-button:hover {
  color: #c70000;
  font-weight: bold;
}

.notification-label {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 24px;
  border-left: 4px solid #673ab7;
  padding-left: 8px;
}

.notification-content-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 24px;
}

.notification-item-read-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #673ab7;
}
