:host {
  display: block;
}

.home {
  width: 100%;
  min-height: calc(100vh - 80px);
  background-color: rgb(121, 236, 188);
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.text-container {
  width: 90%;
  color: black;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(54, 199, 139, 0.5);
  text-align: center;
}

.text-content {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.material-symbols-outlined {
  font-size: 30px;
  font-weight: 800;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 0 10px 2px rgba(54, 199, 139, 0.5);
}

.signup-button {
  font-size: 18px;
  font-weight: 600;
  color: black;
  background-color: rgb(255, 156, 76);
  height: 50px;
  width: 100%;
}

.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 0 10px 2px rgba(54, 199, 139, 0.5);
}

.signin-button {
  font-size: 16px;
  font-weight: bold;
  color: black;
  transition: opacity 0.3s ease-in-out;
}
